#unsupported { border: 1px solid red; background-color: #FFFFAD; padding: 1em; margin: 1em; }

textarea { resize: none; }

#settings          {       width: 12em; padding: 1em; display: inline-block; float: left; border: 1px solid #999; background-color: #EEE; }
#settings .example { color: #999; font-style: italic; float: right; margin-right: 1em; }
#packing           { margin-left: 15em; }
#ratio             { border: 1px solid #999; margin-top: 1em; padding: 1em; }
#nofit             { display: none; border: 1px solid red; margin-top: 1em; padding: 1em; }
#canvas            { background-color: #FBFBFB; }
