#unsupported { display: none; border: 1px solid red; background-color: #FFFFAD; padding: 1em; margin: 1em; }

textarea { resize: none; }

#settings {       width: 12em; padding: 1em; display: inline-block; float: left; border: 1px solid #999; background-color: #EEE; }
#packing  { margin-left: 15em; }
#errors   { display: none; }
#canvas   { border: 1px solid #1090F0; width: 500px; height: 500px; }
